<!DOCTYPE html>
{% load socialaccount %}
<html>
<head>
    <title>User Registration</title>
</head>
<body>
<b>User Registration</b><br><br>
<form action="" method="post"> {% csrf_token %}
    Email: {{ form.email }}{{ form.email.errors }}<br><br>
    Password: {{ form.password }}{{ form.password.errors }}<br><br>
    Name: {{ form.name }}{{ form.name.errors }}<br><br>
    <input type="submit" value="Register" onclick="this.disabled=true, this.form.submit()" />
</form>
<br>
<b><u>Social Login:</u></b><br>
<a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook</a><br>
<a href="{% provider_login_url "twitter" method="oauth2" %}">Twitter</a>
<br><br>
Already Registered? <a href="/login">Login here</a>
</body>
</html>