@charset "utf-8";
/* CSS Document */
body
{
	font-family: 'Montserrat', sans-serif;
}
#menu-bar
{
	background-color:#FFF;
	padding-bottom:20px;
	padding-top:10px;
	border-color:transparent;
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	font-weight:400;
}
#menu-bar ul
{
	float:right;
	padding-top:40px;
	color:#959595;
}
#menu-bar a 
{
	color:#959595;
	background-color:transparent;
	text-transform:uppercase;
	transition:all 0.2s;
	
	
}
#menu-bar a:hover 
{
	color:#000;
	background-color:transparent;
}

#no-top-padding-menu-bar
{
    padding-top:10px!important;
    font-size: 12px;

}
#btn-menu
{
	border-color:#f74343;
	border-style:solid;
	border-width:1px;
	background-color:#FFF;
	border-radius:0px;
	height:30px;
	width:75px;
	margin-top:9px;
	text-align:center;
    padding-top:5px;
	transition:all 0.2s;
	color:#f74343;
	
}
#btn-menu:hover
{
	background-color:#f74343;
	color:#FFF;
}
.banner
{
	background-image:url("../img/banner.png");
	background-size:cover;
	background-repeat:no-repeat;
	padding-top:50px;
	padding-bottom:50px;
	width:100%;
}
.banner h1
{
	font-weight:900;
	color:#FFF;
	font-size:60px;
	text-align:center;
	
}
.banner h4
{
	font-weight:400;
	color:#FFF;
	font-size:18px;
	text-align:center;
	padding-top:-5px;
}
.banner p
{
	font-weight:400;
	color:#FFF;
	font-size:10px;	
	text-align:center;

}
#btn1
{
	border-radius:3px;
	background-color:#adea35;
	color:#FFF;
	text-transform:uppercase;
	border-color:transparent;
	text-align:center;
	height:50px;
	transition:all 0.2s;

}
#btn1:hover
{

	background-color:#FFF;
	color:#adea35


}
.btn-social
{
	border-radius:3px;
	background-color:#adea35;
	color:#FFF;
	text-transform:uppercase;
	border-color:transparent;
	text-align:center;
	height:50px;
	transition:all 0.2s;


}
.btn-social:hover,
.btn-social:focus,.btn-social:active
{

	background-color:#FFF;
	color:#adea35
    border-color:none!important;

}
#btn2
{
	border-radius:3px;
	background-color:#adea35;
	color:#FFF;
	text-transform:uppercase;
	border-color:transparent;
	text-align:center;
	height:50px;
	transition:all 0.2s;

}
#btn2:hover
{

    background-color:#90d012;
	color:#FFFFFF;
}
#c-model-header1
{
    text-align: center;
    /*background-color:#c62a2a;*/
    font-family: 'Montserrat', sans-serif;
	font-size:14px;
	font-weight:900;
    color:#cccccc;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
}
#c-model-body
{
    padding-top: 30px;
   padding-bottom: 20px;

}
.textbox1
{
	border-radius:3px;
	color:#999;
	height:50px;
	font-size:10px;
}
#c-already-signin
{
    color: white;
}
#c-already-signin a {
    color: #adea35;
    font-size: 12px;
}
.fb-button
{
    background-color:#43609c!important;
    color: white!important;
}
.fb-button img
{
    padding-top:4px ;

}
.fb-button:hover
{
    background-color:#374c77!important;

}

.twitter-button
{
    background-color:#55acee!important;
    color:#FFFFFF!important;
}
.twitter-button img
{
     padding-top:4px ;
}
.twitter-button:hover
{
    background-color:#529bd2!important;
    border-color: transparent!important;
}



#top-space1
{
	padding-top:30px;
    font-size:12px;
}
#contents
{
	padding-top:100px;
	padding-bottom:100px;
}
#contents h1
{
	color:#252525;
	font-size:36px;
	text-align:center;
	font-weight:900;
}
#contents h4
{
	color:#252525;
	font-size:18px;
	text-align:center;
	font-weight:400;
}
#contents h3
{
	color:#252525;
	font-size:20px;
	text-align:center;
	font-weight:400;
}
#contents p
{
	color:#999;
	font-size:14px;
	text-align:justify;
	font-weight:400;
	padding-right:30px;
	padding-left:30px;
	
}
.img1
{
	background-image:url(../img/img1.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:200px;
	width:300px;
	margin-top:80px;
}
.img2
{
	background-image:url(../img/img2.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	height:200px;
	width:300px;
	margin-top:80px;
}
.img3
{
	background-image:url(../img/img3.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:200px;
	width:300px;
	margin-top:80px;
}
.btn-content
{
	background-color:#f74343;
	border-radius:3px;
	color:#FFF;
	text-align:center;
	text-transform:uppercase;
	border-color:transparent;
	width:150px;
	height:40px;
	margin-top:100px;
	transition:all 0.3s;
}
.btn-content:hover
{
	background-color:#FFF;
	color:#f74343
	
}
.footer
{
	background-color:#f74343;
	padding-top:30px;
	padding-bottom:30px;
	
}
.footer img
{
	margin-top:-85px;
}
.footer p
{
	color:#FFF;
	font-size:12px;
}

.footer li
{
	display:block;
	float:right;
	padding-left:10px;
	text-decoration:none;
	color:#FFF;
	font-size:12px;
}
.footer a
{
	color:#FFF;
	display:block;
	transition:all 0.3s;
}
.footer a:hover
{
	text-decoration:none;
	color:#adea35;
	display:block;
}
.errorlist
{
    display: table;
    padding: 0px;
    margin: 0px 0px 5px;

}
.errorlist li
{
    color: #FFFFFF;
    float: left;
    list-style: none;
    padding-top: 5px;
}

::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #CCC!important;
}

:-moz-placeholder { /* Firefox 18- */
    text-transform: uppercase;
    color: #CCC!important;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-transform: uppercase;
    color: #CCC!important;
}

:-ms-input-placeholder {
    text-transform: uppercase;
    color: #CCC!important;
}

.c-wrapper-login .banner
{
    background-color:#FFFFFF;
    background-image: none;
    margin-bottom: 50px;
}
.c-wrapper-login h1
{
    color: #5B5959;
}
.c-wrapper-login #btn1:hover
{
    background-color: #90d012;
    color: #FFFFFF;
}

.c-wrapper-signup .banner
{
    background-color:#FFFFFF;
    background-image: none;
    margin-bottom: 50px;
}
.c-wrapper-signup h1
{
    color: #5B5959;
}
.c-wrapper-signup p
{
    color: #5B5959;
    text-align: center;
    width:400px;
    padding-top: 10px;
}
.c-wrapper-signup .footer p
{
    color: #FFFFFF;
}
.c-wrapper-signup h1
{
    color: #5B5959;
}
.c-wrapper-signup #btn1:hover
{
    background-color: #90d012;
    color: #FFFFFF;
}
#c-search
{
    border-radius: 0px;
}
.content-dashboard
{
    padding-top: 75px;
    padding-bottom: 30px;
    border-bottom-color:  #eeeeee;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}
.content-dashboard p
 {
    font-size: 8px;
 }
.content-dashboard button
{
    	color:#f74343;
        border-color: #f74343;
        border-radius: 0px;
        transition: all 0.3s;
}
.content-dashboard button:hover
{

  background-color: #90d012;
  border-color: #90d012;
  color: #FFFFFF;

}
.content-dashboard h4
{
    text-transform: uppercase;
    font-size: bold;
    color: #5B5959;
}
#no-border-dashboard
{
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom-color: transparent;

}
.c-thumbnail
{
    height: 150px;
    width: 200px;
    margin-top: 30px;
    background-color:#f74343 ;
}
.c-wrapper-dashboard
{
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 245px;
}
.c-wrapper-dashboard h3
{
    color: #5B5959;
    text-transform: uppercase;
}
.c-wrapper-profile
{
    padding-top: 50px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}
.c-wrapper-profile h3
{
    color: #5B5959;
    text-transform: uppercase;
}