
   <nav class="navbar navbar-default" role="navigation"  id="menu-bar">
     <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="{{ STATIC_URL }}img/logo.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li> 
        <li><a href="#">Contact</a></li>
          {% if request.user.is_authenticated %}
              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Hi {{ user_profile.name }}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" id="no-top-padding-menu-bar">
              <li><a href="/profile">View Profile</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
             </ul>
          </li>
          {% else %}
        <li><button  class="btn" id="btn-menu" href="..login.html">Sign in</button></li>
          {% endif %}

      </ul>
     </div>
    </div>
   </nav>
